<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LaundryContextDB" connectionString="data source=nguyenhoan\sqlexpress;initial catalog=QL_LaundryShop;persist security info=True;user id=sa;password=25251325cz;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>